main {
  font-family: 'Karla', sans-serif;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centruje obsah uvnitř kontejneru vertikálně */
  align-items: center; /* Centruje obsah uvnitř kontejneru horizontálně */
  background-color: #F5F7FB;
  color: #293264;
  margin: 50px;
  border-radius: 40px;
  padding: 10px 50px;
}

.question-container {
  margin: 30px;
}

.question {
  font-size: 16px;
  font-weight: bold;
}

.answers input[type="radio"]{
  display: none;
}

.answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.answer {
  margin-right: 20px;
  background-color: white;
  border: 2px solid #293264;
  border-radius: 12px;
  color: #2C366E;
  font-weight: bolder;
  font-size: 11px;
  cursor: pointer;
}

.answer:hover {
  background-color: #f0f0f0;
}

.answer label {
  display: block;
  width: 100%;
  padding: 5px 25px;
  cursor: pointer;
}

.answer:has(input:checked) {
  color: #293264;
  background-color: #D6DBF5;
  border: 2px solid #D6DBF5;
}



.title {
  font-size: 32px;
}

.description {
  font-size: 16px;
}

.button {
  margin-top: 30px;
  width: 200px;
  height: 60px;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-size: 16pt;
  border: none;
  border-radius: 15px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Zarovná všechny dětské prvky k levé straně */
  padding: 0 10%;
}

.results {
  display: flex;
  justify-content: center;  /* Zarovná obsah na střed */
  align-items: center;      /* Udrží položky ve vertikálním středu */
  gap: 20px;                /* Přidává mezery mezi položkami */
  margin: auto;
}

.score {
  line-height: 35px;  /* Nastavte line-height odpovídající výšce tlačítka */
  padding: 0 16px;
  font-size: 16px;
  margin: 0;
}


.submit-button {
    height: 35px;  /* Ujistěte se, že výška tlačítka odpovídá line-height textu */
    padding: 0 20px;
    font-size: 11pt;
    border: none;
    border-radius: 15px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    cursor: pointer;
    align-self: center;
}

